@import url('https://rsms.me/inter/inter.css');
@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
  --color-brown: #6b4b46;
  --color-brown-50: #f2eceb;
  --color-brown-100: #e0d1cf;
  --color-brown-200: #c9b2af;
  --color-brown-300: #b2928f;
  --color-brown-400: #977876;
  --color-brown-500: #6b4b46;
  --color-brown-600: #5f433f;
  --color-brown-700: #4f3835;
  --color-brown-800: #402d2a;
  --color-brown-900: #342422;
}

@custom-variant dark (&:where(.dark, .dark *));
